{% extends 'Layouts/admin-master.html' %}
{% load i18n public_tags %}

{% block title %} تغییر رمز عبور {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="col-lg-12">
                <div class="card-box">
                    <h2 class="card-title"><b>{% if object %}تغییر رمز عبور کاربر
                        {{ object | default_if_none:'---' }}{% else %}تغییر رمز عبور{% endif %}</b></h2>

                    <form class="form-horizontal"
                          method="post"
                          enctype="multipart/form-data">

                        {% csrf_token %}

                        {% for field in form %}
                            <div class="form-group">
                                <label class="control-label col-lg-2"
                                       for="id_{{ field.name }}">{{ field.label }}:</label>

                                <div class="col-md-10">
                                    {{ field|addclass:"form-control" }}

                                    {% if field.help_text %}
                                        <p><small style="font-size: 14px">{{ field.help_text|safe }} </small></p>
                                    {% endif %}
                                    {% if field.errors %}
                                        <p><small class="text-danger" style="font-size: 14px"
                                                  style="color:red">{{ field.errors.0|safe }}</small></p>
                                    {% endif %}
                                    {% if field.non_field_errors %}
                                        <p><small class="text-danger" style="font-size: 20px"
                                                  style="color:red">{{ field.non_field_errors.0|safe }}</small></p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="col-lg-12">
                            <div class="m-1-25 m-b-20" style="float: left !important;">
                                <a href="{{ request.META.HTTP_REFERER }}"
                                   class="btn btn-danger btn-border-radius waves-effect">
                                    بازگشت
                                </a>
                                <button class="btn btn-info btn-border-radius waves-effect" type="submit">ثبت</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block Scripts %}
    <script>

        $("#name").on('keyup', function () {

            data = $("#name").val()
            data = data.replaceAll(' ', '-')

            $("#slug").val(data)
        });

        $('#slug').on('keyup', function () {

            data = $("#slug").val()
            data = data.replaceAll(' ', '-')
            $("#slug").val(data)

        })

    </script>
{% endblock %}