{% extends 'Layouts/admin-master.html' %}
{% load static public_tags %}

{% block title %} لیست کاربران {% endblock %}

{% block content %}

    <div class="row">

        {% if messages %}
            {% for item in messages %}
                <script>
                    Swal.fire({
                        title: "تبریک ! 🥳",
                        icon: 'success',
                        text: '{{ item }}',
                        type: "success",
                        cancelButtonColor: 'var(--primary)',
                        confirmButtonText: 'اوکی',
                    })
                </script>
            {% endfor %}
        {% endif %}

        <div class="col-lg-12">
            <div class="card-box">
                <div class="card-block">
                    <h4 class="card-title">لیست کاربران</h4>

                    <hr>

                    <a class="btn btn-primary pull-right" href="{% url 'staff-users-create' %}">افزودن مدیر جدید</a>

                    <span id="list">
                                                                                                                    {% if object_list %}
                                                                                                                        <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ردیف</th>
                        <th>نام</th>
                        <th>نام خانوادگی</th>
                        <th>شماره موبایل</th>
                        <th>کد ملی</th>
                        <th>تاریخ ثبت</th>
                        <th>اعمال</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for item in object_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>

                            <td>{{ item.firstName | default:'---' }}</td>

                            <td>{{ item.lastName | default:'---' }}</td>

                            <td>{{ item.phone | default:'---' }}</td>

                            <td>{{ item.national_id | default:'---' }}</td>

                          <td>{{ item.created_at | jdate | default:'---' }}</td>

                            <td>
                                <div class="buttons ">
                                    <form action="{% url 'staff-users-delete' item.id %}"
                                          id="delete_form_{{ item.id }}"
                                          method="post">
                                        {% csrf_token %}

                                            <a href="{% url 'staff-users-update' item.id %}"
                                               class="btn btn-primary btn-action mr-1"
                                               data-toggle="tooltip" title=""
                                               data-original-title="ویرایش"><i
                                                    class="fas fa-pencil-alt"></i></a>

                                            <button type="button"
                                                    data-original-title="حذف"
                                                    data-toggle="tooltip"
                                                    onclick="DeleteConfirm('{{ item.id }}')"
                                                    class="delete_button btn btn-danger btn-action"><i
                                                    class="fa fa-trash"> </i>
                                             </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                                                                                                                    {% else %}
                                                                                                                        <h4 style="text-align: center; padding: 40px">
                                موردی یافت نشد.
                         </h4>
                                                                                                                    {% endif %}


                        {% include 'Admin/pagination.html' with page_obj=page_obj %}
                    </span>

                    {#                    {% include 'Admin/Users/partials/list.html' with page_obj=page_obj users=users %}#}

                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block Scripts %}
    <script>
        function DeleteConfirm(id) {
            Swal.fire({
                title: "هشدار ! ",
                icon: 'warning',
                text: "آیا از حذف این آیتم اطمینان دارید؟",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: '#00aced',
                cancelButtonColor: '#e6294b',
                confirmButtonText: 'حذف',
                cancelButtonText: 'انصراف'
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#delete_form_' + id).submit();
                }
            })
        }
    </script>
{% endblock %}